.products-section {
    margin-bottom: 140px;
    &__title {
        align-items: center;
        display: flex;
        color: #db4444;
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    &__item {
        width: 20px;
        height: 40px;
        background-color: #db4444;
        border-radius: 4px;
        margin-right: 16px;
    }
    &__heading {
        font-family: "Inter", serif;
        font-weight: 600;
        font-size: 36px;
        color: #000;
        margin-bottom: 60px;
    }
    &__product {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-bottom: 60px;
    }
    &__btn {
        background-color: #db4444;
        color: #fafafa;
        padding: 16px 48px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }
}
